<!DOCTYPE html>
<html>
<head>
    <title>Register</title> <!-- The title that appears on the browser tab -->
</head>
<body>
    <h1>Register</h1> <!-- Header1 displayed on the page -->

    <!-- Form starts here -->
    <form action="/register" method="post">
        <!-- action="/register": sends the form data to this route on the server -->
        <!-- method="post": sends data securely to the server (used for submitting info) -->

        <label>Username:</label><br> <!-- Label for the username field -->

        <input type="text" name="username" required><br><br>
        <!-- type="text": a normal text box -->
        <!-- name="username": this is the key Flask uses to get the value -->
        <!-- required: user must fill this before submitting -->

        <label>Password:</label><br> <!-- Label for the password field -->

        <input type="password" name="password" required><br><br>
        <!-- type="password": hides input (•••• instead of abc) -->
        <!-- name="password": Flask will use this to get the password -->
        <!-- required: user must fill this before submitting -->

        <input type="submit" value="Register">
        <!-- type="submit": sends the form data -->
        <!-- value="Register": this is the text that appears on the button -->
    </form>
</body>
</html>

